<html>
  <head>
    <link rel="stylesheet" href="assets/styles/styles.css">
    <title>{{ config.site.title }}</title>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <main>
      <header>
        <h1>{{ config.site.title }}</h1>
        <p class="subtitle">an index of weird Wikipedia articles</p>
        <nav>
          <ul>
            <li><a class="active" href="/">Index</a></li>
            <li><a href="/stats">Stats</a></li>
          </ul>
        </nav>
      </header>

      {% for month in entriesByYearMonth %}
      <h2 class="entry-month">{{ month[0] }}</h2>

      <ul class="entries-list">
          {% for entry in month[1] %}
          <li>
            <a href="{{ entry.url }}" target="_blank">{{ entry.title }}</a>
            <p>{{ entry.description }}</p>
            <span class="author">{{ entry.author }}</span>
          </li>
          {% endfor %}
      </ul>
      {% endfor %}
      
      <footer>
        <a class="github-link" href="{{ config.meta.gh_repo_link }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
          {{ config.meta.gh_repo_title }}
        </a>
      </footer>
    </main>
  </body>
</html>