<html>
  <head>
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <title>Clandestapedia | Stats</title>
  </head>
  <body>
    <main>
      <header>
        <h1>Clandestapedia Stats</h1>
        <p class="subtitle">stats behind the articles</p>
        <nav>
          <ul>
            <li><a href="/">Index</a></li>
            <li><a class="active" href="/stats">Stats</a></li>
          </ul>
        </nav>
      </header>

      <section class="stats">
        <section class="articles-total">
            <section class="count">{{ stats.totalEntries }}</section>
            <section class="label">total articles</section>
        </section>

        <hr/>

        <h2>By author</h2>

        <table>
            <thead>
                <tr>
                    <th>Author</th>
                    <th>Articles</th>
                </tr>
            </thead>
            <tbody>
                {% for author in stats.entriesByAuthor %}
                <tr>
                    <td>{{ author[0] }}</td>
                    <td>{{ author[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <section class="articles-by-author">
            {% for author in stats.entriesByAuthor %}
            <section class="author-{{ author[0] | downcase }}" style="width:{{ author[1] | asPercent: stats.totalEntries }}">{{ author[0] }} ({{ author[1] | asPercent: stats.totalEntries }})</section>
            {% endfor %}
        </section>

        <hr/>

        <h2>By year</h2>

        <table>
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Articles</th>
                </tr>
            </thead>
            <tbody>
                {% for year in stats.entriesByYear %}
                <tr>
                    <td>{{ year[0] }}</td>
                    <td>{{ year[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </section>

      <footer></footer>
    </main>
  </body>
</html>